<h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p>

<%= form_for @article do |article| %>
  <%= article.label :title %>
  <%= article.text_field :title %>
  <%= article.label :content %>
  <div class="ace-editor">
    <%= article.text_area :content, rows: 15, columns: 8 %>
  </div>
  <%= article.submit %>
<% end %>
