<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<h3><%= @article.title %></h3>
<%= Kramdown::Document.new(@article.content).to_html.html_safe %>


  <%= link_to 'Back to all articles', articles_path %>
  <%= link_to 'Delete this article', article_path(@article), method: :delete %>
  <%= link_to 'Edit this article', edit_article_path(@article) %>
